.vtex-login-options__list {
  list-style-type: none;
  padding: 0;
}

.vtex-login__arrow-up {
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
  right: 7px;
  background-color: white;
}

.vtex-login__box {
  top: 100%;
  display: none;
  visibility: visible;
}

.vtex-login__container {
  height: 48px;
}

.vtex-login__container:hover .vtex-login__box {
  display: block;
}

.vtex-login__content {
  max-height: 310px;
  min-width: 310px;
}

.vtex-login__button {
  background: none;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  height: 40px;
  cursor: pointer;
}

.vtex-login__button:hover {
  background: rgb(235, 235, 235);
}

.vtex-login__button .vtex-login__oauth-label {
  position: relative;
  bottom: 4px;
  margin: 0 20px 0 20px;
}

.vtex-login__oauth-provider {
  margin-left: 5px;
  font-weight: normal;
}

@media only screen and (max-width: 600px) {
  .vtex-login__container {
    display: none;
  }
  .vtex-login__box {
    display: none;
    visibility: hidden;
  }
}
